$border-main-color:#b15103;
$bg-color-hover:#ff73007a;

$color-fonts:(
    primary: #ff7300,
    secondary: #e6e6e6 
);

$bg-colors:(
    primary: #000000,
    secondary: #633100,
    tertiary: #ff7300,
    quaternary:#e6e6e6 
);


